

html {
    scroll-behavior: smooth;

}

body {
    background: rgb(203, 203, 203);
}

.Container-lobby {

    background-size: cover;
    background-position: center;
    background-color: #efefef;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    transition: 2s;
}